

.scroll{
    
  max-height: 80vh;
      overflow: overlay;
      padding-bottom: 7vh;

}
.pad{
 
}
.subheading{
  background-image: linear-gradient(to right, #607d8b 0%, #495e6a 100%);
  color: rgb(255, 250, 237);
 
  padding: 5px;

}
.content{
    display:absolute;
    height: 100%;
      overflow: overlay;
  
  
  
    
    margin-left: 5%;
    margin-top:10vh;
    padding:2%;
    

}
.mat-mdc-raised-button{
  background-color: #607d8b;
  color: white;
}
.exportbtn{
  background-color: #ffa03a;
  color: white;

}
.Downloadbutton{
  background-color: #eae5df;
  color: rgb(54, 54, 54);

  
}
.customise{
  background-color: #68c145;
  color: white;


}

.content::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.contentwrapper{
    display: flex;
    flex-direction: row;
}

.contentwrapper .left{
    width: 50%;
}
.contentwrapper .right{
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;

}

.accordian{
    width: 100%;
}

.mat-accordian{
    width: 100%;
}
.left *{
    width: 100%;
}
.right {
    width:100%;
    height:auto;
    
}
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel-header{
    display: flex;
    justify-content: space-between;
  }
  .mat-panel-description{
    justify-content: flex-end;
    text-align: center;
  }
  .example-card{
    max-width: 300px;
  }

  .example-card * img{
    
  }


  .exercisesection{
  
   
  }
  .rightwrapper{
   

  }
  .resistance{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .pad-right{
    padding-right: 3%;
  }

  .resistancemobile{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .header{
    width: 100%;
  }

.title{
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right: 0;
    border-left: 0;
    
   
    color: black;
    border-style: solid;
    padding-left: 1%;
   

}

.noselectionimg{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.noselectionimgimg{
  width: 60% !important;
  margin: 0 auto;
  
}
.noselectionimgimgsmaller{
  width: 10px;
  margin: 0 auto;

}

.center{
  text-align: center;
}
.form-field{
  width: 100%;
}
.panels{
  margin-bottom: 2vh;
}
  
.mat-expansion-panel-header{
  background-color: #607d8b !important;
}

.mat-expansion-panel-header .mat-expanded{
  background-color: #607d8b !important;
  color: white !important;
}

.mat-expansion-panel-header-title{
  font-family: Roboto, sans-serif !important;
  color: white !important;

}

.lefterror{
  width: 10vw;
}

.overlay{
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  height: 7vh;

background-color: #fafafa;
   border: rgba(0,0,0,.12);
    
    border-width: 1px;
    border-style: solid;
    border-left: none;
    border-right: none;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
 
}

.fontawesomesvg {width: 1em;
  height: 1em;
  vertical-align: -.125em;
  margin-right: 5px;
}
.fontawesomesvg:hover{
  color: white;
}

.padding{
  padding-left: 1%;
  padding-right: 1%;
}


.eximage{
  width: 70%;
}

@media screen and (max-width: 768px) {
  .resistance{
    padding-left: 40px;
    padding-right: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr !important;
  }
  
.eximage{
  width: 75%;
}

}


