<div class="content">
    
    <form class="example-form">
        <div class="searchbar-container">
  
            <div class="topsearchcolor">
              <div class="headerwords">
                Find physiotherapy exercises for your clients

              </div>
              
             
    
                  
    
            </div>

            <div class="moveup">

           <div class="agegroup">
                  <mat-button-toggle-group color="primary" [formControl]="fontStyleControl" class="agebutton"name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold">baby</mat-button-toggle>
                    <mat-button-toggle value="italic">child</mat-button-toggle>
                    <mat-button-toggle value="underline">adult</mat-button-toggle>
                    <mat-button-toggle value="underline">elderly</mat-button-toggle>
                  </mat-button-toggle-group>
                  
          
                  
                 
              </div>
                <div class="search">
                    <div class="searchfields">

                    <div class="primarysearchbutton">

                    
                <mat-form-field class="example-full-width" class="formfields" appearance="fill">
                <mat-label> <mat-icon class="icon">build</mat-icon> Condition/Pathology</mat-label>
                <input type="text"
                        placeholder="Pick one"
                        aria-label="Number"
                        matInput
                        [formControl]="myControl"
                        [matAutocomplete]="auto">
                        
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                    </mat-option>
                </mat-autocomplete>
                </mat-form-field>
                </div>
            
        <div class="primarysearchbutton">


                <mat-form-field appearance="fill"class="formfields">
                    <mat-label>Body Part to train?</mat-label>
                    <mat-select  (selectionChange)="onChange($event,toppings,toppingList,checked)" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                        {{toppings.value?.[0] || ''}}
                        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-checkbox [checked]="checked" (click)="toggleAll($event,toppings,toppingList,checked)" >All</mat-checkbox>
                    <!--<app-select-all-option [toppings]="toppings" [checked]="checked" [toppingList]="toppingList" ></app-select-all-option> --> 
                    

                    <mat-option *ngFor="let topping of toppingList" [value]="topping" >{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>

        <div class="primarysearchbutton">


            <mat-form-field appearance="fill" class="formfields" >
                    <mat-label>Exercise type</mat-label>
                    <mat-select  (selectionChange)="onextypeChange()" [formControl]="exercisetypeformcontrol" multiple>
                    <mat-select-trigger>
                        {{exercisetypeformcontrol.value?.[0] || ''}}
                        <span *ngIf="(exercisetypeformcontrol.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(exercisetypeformcontrol.value?.length || 0) - 1}} {{exercisetypeformcontrol.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-checkbox [checked]="exercisetypechecked" (click)="extypetoggleAll()" >All</mat-checkbox>
                    
                    

                    <mat-option *ngFor="let topping of exercisetypeList" [value]="topping" >{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>

        </div>

        <div class="primarysearchbutton">


                <mat-form-field  class="formfields"  appearance="fill">
                    <mat-label>Exercise Diffuclty</mat-label>
                    <mat-select  (selectionChange)="onexdiffChange()" [formControl]="exercisediffformcontrol" multiple>
                    <mat-select-trigger>
                        {{exercisediffformcontrol.value?.[0] || ''}}
                        <span *ngIf="(exercisediffformcontrol.value?.length || 0) > 1" class="example-additional-selection">
                        (+{{(exercisediffformcontrol.value?.length || 0) - 1}} {{exercisediffformcontrol.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                    </mat-select-trigger>
                    <mat-checkbox [checked]="exercisediffchecked" (click)="exdifftoggleAll()" >All</mat-checkbox>
                    
                    

                    <mat-option *ngFor="let topping of exercisediffList" [value]="topping" >{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>

                </div>


                <div class="primarysearchbuttonaction">
                    <button class="primarysearchbutton"mat-flat-button color="primary">Search!(1550)</button>
                </div>


                </div>

                <div>
                    
                </div>

            


                
                </div>
                <div>
                  <mat-checkbox color=primary (change)="onChangeadvancedoptions($event)">Advanced Options </mat-checkbox>
                  <button mat-stroked-button color="warn"><mat-icon>cancel</mat-icon>Clear selection</button>
                </div>
                
               
                <div class="hidden"*ngIf="advancedoptionisShow">
                  <div  class="hiddenform">
                  <mat-form-field appearance="fill">
                      <mat-label>Equipment Available?</mat-label>
                      <mat-select  (selectionChange)="onequipChange()" [formControl]="equipformcontrol" multiple>
                        <mat-select-trigger>
                          {{equipformcontrol.value?.[0] || ''}}
                          <span *ngIf="(equipformcontrol.value?.length || 0) > 1" class="example-additional-selection">
                            (+{{(equipformcontrol.value?.length || 0) - 1}} {{equipformcontrol.value?.length === 2 ? 'other' : 'others'}})
                          </span>
                        </mat-select-trigger>
                         <mat-checkbox [checked]="equipchecked" (click)="equiptoggleAll()" >All</mat-checkbox>
                        
                         
              
                         <mat-option *ngFor="let topping of equipList" [value]="topping" >{{topping}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <br/>
                    <mat-form-field class="example-full-width">
                      <mat-label>Search by Keywords</mat-label>
                      <input matInput placeholder="Type in keywords" value="">
                    </mat-form-field>
                    <br/>
                    Image orientation
                    <br/>
                    <mat-button-toggle-group class="orientationtoggle" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle value="bold">not specified</mat-button-toggle>
                      <mat-button-toggle value="italic">left side affected</mat-button-toggle>
                      <mat-button-toggle value="underline">right side affected</mat-button-toggle>
                      
                      
                    </mat-button-toggle-group>
              
              
                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                             Text to display with the exercise images
                            </mat-panel-title>
                            
                            
                          </mat-expansion-panel-header>
                          <div class="two-col">
              
                          
                          <mat-checkbox color=primary>Therapist aim</mat-checkbox>
                          <mat-checkbox color=primary>Therapist instructions</mat-checkbox>
                          <mat-checkbox color=primary>Progressions and variations</mat-checkbox>
                          <mat-checkbox color=primary>Instructions for exercise repetitions</mat-checkbox>
                          <mat-checkbox color=primary>Client's aim</mat-checkbox>
                          <mat-checkbox color=primary>Client's instruction</mat-checkbox>
                          <mat-checkbox color=primary>Precautions</mat-checkbox>
                     
                      </div>
                      
              
                         
                      
                          
                      
                        </mat-expansion-panel>
                        </div>
              </div>
              
                </div>
                
          
          
            </div> 



        

      </form>

 <div class="collectionmaster">
  <section class="collectioncardwrapper">

    <div>
      <div class="subheader">
        You can also browse by Collections
        </div>
        <div class="subsubheader">

          Exercise Collections save you time to find the best exercise for common conditions.
          <br/>
          Exercises are handpicked by experienced phyiotherapists specialised in that area to ensure exercises are of high quality and evidence based. 
        </div>
        <button class="primarysearchbutton"mat-raised-button >Explore All Collections</button>
        
  

    </div>
    <div class="imagehidden">
      <img src="../../assets/undraw_web_browsing_p-77-h.svg" class="exerciseimage">

    </div>
   

  </section>
  
    <section>
      <div class="subheader margintop">
        Here are some of our latest addidions
        <mat-chip class="newchip">
        new
      </mat-chip>
      </div>
  
  
  
  
  
  <div class="carasoul" #widgetsContent>
  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Osteoporosis prevention</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Osteoporosis prevention</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Impaired balance :Elderly</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Osteoarthritis hip/knee</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>

      
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Spinal Cord injury</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>whiplash</mat-card-title>
        <mat-card-subtitle>3 levels (15 exercises)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions >
        <button class="primarysearchbutton"mat-raised-button >View Collection</button>
        
      </mat-card-actions>
    </mat-card>

    

    
  
  
    
  
  
    
  
    
  </div>

    </section>
   
 </div>


</div>
