.content{
    display:absolute;
    height: 100%;
      overflow: overlay;
  
  
  
    
    margin-left: 5%;
    margin-top:10vh;
    padding:2%;
    

}
.mat-mdc-raised-button{
  background-color: #607d8b;
  color: white;
}

.content::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.contentwrapper{
    
}

.left{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3%;
    
}

.contentwrapper .right{
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;

}

.accordian{
    width: 100%;
}

.mat-accordian{
    width: 100%;
}
.left *{
    width: 100%;
}
.right {
    width:100%;
    height:auto;
    
}
.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  .mat-expansion-panel-header{
    display: flex;
    justify-content: space-between;
  }
  .mat-panel-description{
    justify-content: flex-end;
    text-align: center;
  }
  .example-card{
    min-width: 300px;
    
  }

  .example-card * img{
    
  }

  .resistance{
    display: flex;
    flex-direction: row;
  }

  .exercisesection{
  
   
  }
  .rightwrapper{
   

  }
  .resistance{
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .padding{
    padding: 10px;
  }

  .header{
    width: 100%;
  }

.title{
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-right: 0;
    border-left: 0;
    
   
    color: black;
    border-style: solid;
   

}

.noselectionimg{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.noselectionimgimg{
  width: 60% !important;
  margin: 0 auto;
  
}
.noselectionimgimgsmaller{
  width: 10px;
  margin: 0 auto;

}

.center{
  text-align: center;
}
.form-field{
  width: 100%;
}
.panels{
  margin-bottom: 2vh;
}
  
.mat-expansion-panel-header{
  background-color: #607d8b !important;
}

.mat-expansion-panel-header .mat-expanded{
  background-color: #607d8b !important;
  color: white !important;
}

.mat-expansion-panel-header-title{
  font-family: Roboto, sans-serif !important;
  color: white !important;

}

.lefterror{
  width: 10vw;
}

.flexcontainer{
  display: flex;
  flex-direction: row;

  
  
  gap:5%;
  
  
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  
  margin-top: 2%;

 
}

.flexcontainer  .example-card {
  flex-grow: 1;
  max-width: 30%;
  cursor: pointer;
  margin-top: 1%;
  

  justify-content:space-between; display: flex; flex-direction: column; 

  
}

.gg{
height: inherit;

  justify-content: space-between; display: flex; flex-direction: column; 

}

.titleheader{
  background-image: linear-gradient(to right, #607d8b 0%, #495e6a 100%);
  color: rgb(255, 250, 237);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;

}







@media screen and (max-width: 768px) {
  
  .flexcontainer  .example-card{
    flex-grow: 1;
    width:90%;
    cursor: pointer;
  }

  .content{
    display:absolute;
    height: 100%;
      overflow: overlay;
  
  
  
    
    margin-left: 0%;
    margin-top:10vh;
    padding:2%;
    

}

}

@media screen and (max-width: 430px) {
  
  .flexcontainer  .example-card{
    
    width:60%;
    cursor: pointer;
  }
}