<div class="content">
  
  
    <div class="contentwrapper">
      
      
     
     
          <!--
            <mat-form-field class="form-field">
            <mat-label>Search for your exercise collection</mat-label>
            <input matInput type="text" (keyup)="getPostByName($event)" [(ngModel)]="value">
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          -->
          
          <div *ngFor="let hero of filteredcollection">
            <div class="titleheader">

            <h2>{{hero.title}} Collection</h2>
            </div>

          <div class="flexcontainer ">
              <mat-card *ngFor="let hero of hero.level" class="example-card gg" >
                <div>
                  
                  <section class="blueheader">
                    <!--<div><strong>Level {{hero.level}}</strong></div>-->
                    <div> <strong>{{hero.levelheader}}</strong></div>

                  </section>
             <section class="containerv">
              <div [ngClass]="['img',hero.levelimage]">
              
                
              </div>
              <div class="padding">
                <div [innerHtml]="hero.leveldescrption">
                        


                </div>
              </div>

             </section>
                  
                  

              
                <mat-card-content class="gg">
                  
                 
                 
                      
                    

                    
  
                    
                    
                  

                 
                 
       

               
              
                  
                 
                </mat-card-content>

                
                
                </div>

                <mat-card-actions>
                    <button mat-raised-button (click)="showcollection(hero.value)">Select Collection </button> 
            
                  
                </mat-card-actions>
              </mat-card>

              
              

              
            </div>

           
            

          
            </div>
            <label id="example-radio-group-label"> </label>

            
           
     
        <!--
          <div class="right">
            <div class="rightwrapper">
             
                <div class="exercisesection">
                  <div *ngIf="displaydata==null">
                    
                    <div class="noselectionimg">
                      <div class="center">
                        No Selected exercises

                      </div>
                     
                      <br/>
                      <img class="noselectionimgimg"src="../../assets/undraw_selection_re_ycpo.svg"/>

                    </div>
                    </div>
                  <div *ngFor="let hero of displaydata">

               
                    <h1 class="title">
                        {{hero.title}}
                    </h1>
                    <div class="resistance">
                        
                        
                        <div>
                           <img width="50%"src={{hero.img}}/>

                        </div>
                        <div>
                            <span>
                                <strong>Client's Aim</strong>
                                <div>
                                   {{hero.clientaim}}
                                </div>

                            </span>
                            <span>
                                <strong>Client's Instructions</strong>
                                <div>
                                    {{hero.clientinstruction}}
                                </div>

                            </span>
                            <br/>
                            <span *ngIf="hero.precautions">
                                
                                <strong>
                                   Precautions
                                </strong>
                                <br/>
                                {{hero.precautions}}

                            </span>
                           

                        </div>

                       
                    </div>

                </div>
                   
                    

                </div>
            </div>
    
        </div>

        -->
        

    </div>
   

</div>
