<div class="content">
    <div class="searchmastercontainer">
        <div class="shadow">
            
            <div class="tab">

          
            <mat-tab-group (selectedTabChange)="tabchange($event)" mat-stretch-tabs animationDuration="0ms">
                <mat-tab class="tabitem">
                  <ng-template class="tabitem" mat-tab-label>
                    <mat-icon class="example-tab-icon hiddenicon ">build</mat-icon>
                   Search Exercises
                  </ng-template>
<div class="hidden">
    <app-searchexerciseform ></app-searchexerciseform> 

</div>
                
                </mat-tab>
              
                <mat-tab class="tabitem">
                  <ng-template class="tabitem" mat-tab-label>
                    <mat-icon class="example-tab-icon hiddenicon ">collections</mat-icon>
                    Search Exercise collections
                  </ng-template>
<div class="hidden">
    <app-searchcollectionform></app-searchcollectionform>

</div>
               
                 
                </mat-tab>


              
             
              </mat-tab-group>
              <br/>
            </div>
            
            

        </div>

        <div class="collectionmaster">
            <section class="collectioncardwrapper">
                
          
              <div>
                <div class="subheader">
                  You can also create your custom exercises
                  </div>
                  <div class="subsubheader">
               
          
                   Create your own exercises to add to booklets and share them with your colleagues!
                  </div>
                 
                  
            
          
              </div>
              <button (click)="goToSearch(customexerciseslink)" class="primarysearchbutton"mat-raised-button ><mat-icon>build</mat-icon>  Create My Own Custom Exercises</button>
              
             
          
            </section>
            
         
             
           </div>
       
    </div>
    

    
    

</div>

<div class="footer">
    

       
        <button (click)="collectionsearch()" *ngIf="isExercisegroup" class="primarysearchbutton showexercises"mat-flat-button color="primary"><mat-icon class="">search</mat-icon> <span>Show Exercises Collection </span></button>

       
       
    
        
        <button *ngIf="!isExercisegroup" class="primarysearchbutton showexercises"mat-flat-button color="primary"><mat-icon class="">search</mat-icon> Show Exercises</button>
      

   

    
  
       

        <button mat-stroked-button color="warn"><mat-icon class="">cancel</mat-icon>Clear selection</button>


</div>


