<div class="content">
    <div class="searchmastercontainer">
        <div class="shadow">
            
            <div class="tab">
              <section class="tabtab">
                <button  (click)="setmode(true)"[ngClass]="mode ? '' : 'inactivebutton'" mat-raised-button >Search Exercises</button>
                <button   (click)="setmode(false)" mat-raised-button [ngClass]="mode ? 'inactivebutton' : ''"  > Search Exercise collections</button>
              </section>
<div *ngIf="mode">
  <div class="hidden">
    <app-searchexerciseform ></app-searchexerciseform> 

</div>

</div>

<div *ngIf="!mode">
  <div class="hidden">
    <app-searchcollectionform></app-searchcollectionform>

</div>

</div>
          
           
              <br/>
            </div>
            
            

        </div>

        <div class="collectionmaster">
            <section class="collectioncardwrapper">
                
          
              <div>
                <div class="subheader">
                  You can also create your custom exercises
                  </div>
                  <div class="subsubheader">
               
          
                   Create your own exercises to add to booklets and share them with your colleagues!
                  </div>
                 
                  
            
          
              </div>
              <button (click)="goToSearch(customexerciseslink)" class="primarysearchbutton"mat-raised-button ><mat-icon>build</mat-icon>  Create My Own Custom Exercises</button>
              
             
          
            </section>
            
         
             
           </div>
       
    </div>
    

    
    

</div>

<div class="footer">
    

       
        <button (click)="collectionsearch()" *ngIf="!mode" class="primarysearchbutton showexercises"mat-flat-button color="primary"><mat-icon class="">search</mat-icon> <span>Show Exercises Collection </span></button>

       
       
    
        
        <button *ngIf="mode" class="primarysearchbutton showexercises"mat-flat-button color="primary"><mat-icon class="">search</mat-icon> Show Exercises</button>
      

   

    
  
       

        <button mat-stroked-button color="warn"><mat-icon class="">cancel</mat-icon>Clear selection</button>


</div>


