

  .sidebar {
    margin: 0;
    padding: 0;
    width: 20%;
    z-index: 5;
    background-color: #f1f1f1;
    position: fixed;
    top:0;
    right:95%;
    height: 100%;
    overflow: auto;
    transition: right 0.3s ease-out 0.1ms
  }
  
  .topnavhamburger{
    display: none;
   
  }
 
  
  
  @media only screen and (max-width: 770px) {
    .sidebar {
        margin: 0;
        padding: 0;
        width: 50%;
        z-index: 20;
        background-color: #f1f1f1;
        position: fixed;
        top:0;
        right:100%;
        height: 100%;
        overflow: auto;
        transition: right 0.3s ease-out 0.1ms;
        
    }
    .topnavhamburger{
        display: block;
        position: fixed;
        top: 2.5%;
        left: 2.5%;
        z-index: 200;
    }
    .sidebaractive{
        margin: 0;
        padding: 0;
        width: 50%;
        z-index: 20;
        background-color: #f1f1f1;
        position: fixed;
        top:0;
        right:50%;
        height: 100%;
        overflow: auto;
        transition: right 0.3s ease-out 0.1ms;
    }
      .darkoverlay{
        position: fixed;
            top: 0;
            right: 200%;
            background-color: rgb(4, 4, 18);
            width: 100vw;
            
            
            opacity: 50%;
            
            height: 100vh;
            z-index: 10;
            transition: right 0.3s ease-out 0.1ms;
            
          }
      .activedarkoverlay{
        position: fixed;
        top: 0;
       
        right: 0;
        background-color: rgb(4, 4, 18);
        opacity: 90%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        transition: right 0.3s ease-out 0.1ms
      }
  }
  
  
  .sidebar:hover{
    margin: 0;
    padding: 0;
    width: 20%;
    background-color:  #f1f1f1;
    position: fixed;
    top:0;
    right:80%;
    height: 100%;
    overflow: auto;

  }
  .arrowsidenav{
    
    display: none;
  }

  .sidebar:hover .arrowsidenav{
   
    display: inline;
    

  }
  
  
 
.navitemcontainer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    color: black;
    padding: 16px;
    text-align: left;
    text-decoration: none;
    padding-right: 0;
}
.navitem :hover{
    background-color: #607d8b;
    cursor: pointer;
    
}
  .leftsidenavheader{
    height: 10vh;
    background-color: #607d8b;
  }
  .fivepercent{
    min-width:10%;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
 
 