.content{
    display:absolute;
    height: auto;
      overflow: overlay;

      


  
  
  
    
    margin-left: 5%;
    margin-top:10vh;
padding-bottom: 20vh;
    
   
    
  
}

.mat-mdc-menu-content{
  z-index:3000;
  box-shadow:10 10 10 10 ;
  
}

.sectionheader{
  font-size: 0.8rem;
  
  margin-right: 1%;
  margin-top:0;
  padding-top: 5px;
  padding-bottom:3px ;
  padding-left: 1%;
  
 
  color: white;

}
.sectionheaderh1{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  padding-left: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

}
.sectionheaderh2{
  color: black;
  padding-left: 1%;

}
table {
  width: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
tr.example-element-row.selected{
  background-color: whitesmoke;
 
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
    height: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;

}

.expanded-contents {
  padding: 25px;
  width: 100%;
 
}

.mat-header-cell {
  color: #7c7b7e !important;
  font-family: Verdana, sans-serif !important;
  font-weight: bold;
}

.mat-cell {
  font-family: Verdana, sans-serif !important;
}



.createbutton{
  background-color: #00c41a;
  border: 1px solid #00bb38;
  color:white;
 
}
tr :hover{
  cursor: pointer;
}

.createdeletewrapper{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.Downloadbutton{
  background-color: rgb(233, 233, 233);
}
.mobiledisplaynone{
 
}

.embeddedutility{
  background-color: white;
  height: 100%;
  padding-left: 1% ;
  padding-right: 1%;
  padding-bottom: 10px;
  padding-top: 5px;
  
  
  
 
  width: 98%;
  z-index: 2000;
  
}
.arrow :hover{
  cursor: pointer;
  background-color: #efefef;

}
.mat-raised-button{}

.arrow .arrowup{
 
  
 
}
.mat-elevation-z8{
}
.contentsub{
  padding: 1%;
  padding-bottom: 0;
}
.arrowdown{
  transform: rotate(180);
  
  

}
.footer{
  display: block;
  position: fixed;
  width: 95%;

  bottom:0;
  height: auto;
  max-height: 30vh;
  z-index: 1000;
}

.calenderview{
    background-color: #00bb38;
    width: 100%;
}
@media screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
 .mobiledisplaynone{
  display: none;
  
 }
 .contentsub{
  padding: 0%;
  padding-bottom: 0;
}
.footer{
  height: auto;
  z-index: 1000;
}
 .embeddedutility{
  background-color: white;
  padding-left: 1% ;
  padding-right: 2%;
 
  
  
  height: 100%;
 
  
 
  width: 100%;
  
}
 .example-element-detail{
  display: flex;
  flex-direction: column;
 }
 .expanded-contents img{
  height: 50%;
  width: auto;
 }

 .mat-elevation-z8{
  margin: 0;
  padding: 0;
 }
 .content{
  display:absolute;
  height: 100%;
    overflow: overlay;



  
  margin-left: 0%;
  margin-top:10vh;
  padding:0.5%;
  padding-bottom: 15vh;
  

}

    

    
  

}



@media screen and (max-width: 430px) {}

@media screen and (max-width: 330px) {}








.none{
  display: none;
}

.show{
  display: block;
}

.fontawesomesvg {width: 1em;
  height: 1em;
  vertical-align: -.125em;
  margin-right: 5px;
}
.fontawesomesvg:hover{
  color: white;
}
.dashboardblueheader{
  background-image: linear-gradient(to right, #607d8b 0%, #495e6a 100%);
  color: rgb(255, 250, 237);
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  
}

.p-component, .p-component * {
    box-sizing: border-box;
}

table > tr {
    vertical-align: middle;
}

.ptx-schedule-table {
    width: 60%;

    border-collapse: collapse;
    margin: 0 auto;
}



tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

.ptx-schedule-table td {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 0;
    text-align: center;
}

.ptx-schedule-table-week-cell {
    width: 50px;
}

.ptx-schedule-table img {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    width: 50px;
}

.mb-2 {
    margin-bottom: 0.5rem!important;
}

.mt-2 {
    margin-top: 0.5rem!important;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.ptx-schedule-table-narrow {
    width: 40px;
}
.ptx-schedule-table-narrow-m{
    width: 100px;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.ptx-schedule-table-img-cell {
    width: 60px;
}

.ptx-schedule-unchecked {
    color: red;
}

.grid{
    width:50%;
    margin: 0 auto;
}

.grid>.col, .grid>[class*=col] {
    box-sizing: border-box;
}
.col-12 {
    flex: 0 0 auto;
    padding: 0.5rem;
    width: 100%;
}

.ptx-schedule-selected {
    background-color: #90ee90;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
    width: 20px;
}

.icon-star:before {
    content: "\e876";
}

[class*=" icon-"]:before, [class^=icon-]:before {
    font-family: physio;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.filtersection{
    padding: 20px 20px 0 20px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }




  @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }
  
  .pie {
    --p:20;
    --b:5px;
    --c:darkred;
    --w:60px;
    
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    margin:5px;
    place-content:center;
    font-size:20px;
    font-weight:bold;
    font-family:sans-serif;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation:p 1s .5s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
  @keyframes p {
    from{--p:0}
  }
  
  .exercisebutton{
    width: 70%;
  }

  .mat-mdc-raised-button{
    background-color: #7cb342;
    color: white;
  }
  .setting{
    background-color: #f0f0f0;
    color: rgb(25, 25, 25);
    margin-bottom: 10px;
  }