<div class="content">

    <div class="sectionheader">
       <h2 class="sectionheaderh1">
        My custom exercises

       </h2>
       <h3 class="sectionheaderh2">
        You can create custom exercises. They will then appear in the exercise gallery. Only you will be able to see them but you can opt to share with your colleagues
       </h3>
    </div>

<div class="contentsub">


<div class="mat-elevation-z8">
    <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    
  ></mat-paginator>
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            color="primary"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            color="primary"
          >
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="toggle">
        <th mat-header-cell *matHeaderCellDef>
          
        </th>
        <td mat-cell *matCellDef="let row">
          <div
          (click)="row.isExpanded = !row.isExpanded"
           
           
          
          >
          <mat-icon *ngIf="!row.isExpanded">keyboard_arrow_down</mat-icon>
          <mat-icon *ngIf="row.isExpanded">keyboard_arrow_up</mat-icon>
        </div>
        </td>
      </ng-container>
  
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{element.title}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="category" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mobiledisplaynone">Category</th>

        <td mat-cell *matCellDef="let element" class="mobiledisplaynone">{{element.category}}</td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="me">
        <th mat-header-cell *matHeaderCellDef class="mobiledisplaynone">By me</th>
        <td mat-cell *matCellDef="let element" class="mobiledisplaynone">{{element.me}}</td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="others">
        <th mat-header-cell *matHeaderCellDef  class="mobiledisplaynone">By others</th>
        <td mat-cell *matCellDef="let element"  class="mobiledisplaynone">{{element.others}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef  ></th>
        <td mat-cell *matCellDef="let element"  >
            <button  mat-raised-button >
                
                <span class="iconwords">Edit </span> 
            
            </button>

        </td>
      </ng-container>
      <!-- Expanded Column -->
      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="example-element-detail"
            [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"
          >
            <span class="expanded-contents">
              <img [src]="element.url" width="auto" height="100%" />
            </span>
            <span class="expanded-contents">
                <div>
                    <span *ngIf="element.taim!=null">
                        <strong>Therapist Aim</strong>
                        <br />
                       
                        <span >{{ element.taim }}</span>
                        

                    </span>
                   
                    <br />
                   

                    <span *ngIf="element.caim!=null">
                    <strong>Clients Aim</strong>
                    <br />
                    
                    {{ element.caim }}
                    </span>
                    <br />
                    <span *ngIf="element.tinstruction!=null">
                    <strong>Therapist instruction</strong>
                    <br />
                   
                     {{ element.tinstruction }}
                    </span>
                    <br />
                    <span *ngIf="element.pinstruction!=null">
                    <strong>Patient's instruction</strong>
                    <br />
                    
                    Location: {{ element.pinstruction }}
                    </span>
                    <br />
                    <span *ngIf="element.progression!=null">
                   <strong>Progression/ Regression</strong> 
                    <br />
                    
                    {{ element.progression }}
                    </span>
                    <br />
                    <span *ngIf="element.precaution!=null">
                    <strong>Precaution</strong>
                    <br />
                    
                    {{ element.precaution }}
                    </span>

                </div>
       
            </span>
          </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="row.isExpanded"
        [class.selected]="selection.isSelected(row)"
       
        >
      </tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>


     

      
    </table>
    <br/>
    <br/>
    <br/>

    
  
    
   
  </div>
  <br /><br />



  
  

  </div>

  <div class="footer">
    <div class="embeddedutility">
        <div class="embeddedutility">
            <div class="createdeletewrapper">
                <div [ngClass]="selection.selected.length>0 ? show : none">
                    
                    <button  class='Downloadbutton'mat-button [matMenuTriggerFor]="menu"><mat-icon>get_app</mat-icon><span class="iconwords"><span class="mobiledisplaynone">Download</span> ({{selection.selected.length}}) <span class="mobiledisplaynone">Exercises</span></span></button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item><mat-icon>picture_as_pdf</mat-icon> Download as PDF</button>
            <button mat-menu-item> <svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM111 257.1l26.8 89.2 31.6-90.3c3.4-9.6 12.5-16.1 22.7-16.1s19.3 6.4 22.7 16.1l31.6 90.3L273 257.1c3.8-12.7 17.2-19.9 29.9-16.1s19.9 17.2 16.1 29.9l-48 160c-3 10-12.1 16.9-22.4 17.1s-19.8-6.2-23.2-16.1L192 336.6l-33.3 95.3c-3.4 9.8-12.8 16.3-23.2 16.1s-19.5-7.1-22.4-17.1l-48-160c-3.8-12.7 3.4-26.1 16.1-29.9s26.1 3.4 29.9 16.1z"/></svg>
            Download as Word document</button>
            <button mat-menu-item> <mat-icon>desktop_mac</mat-icon>Download as HTML file</button>
            </mat-menu>
            
                
               
            
                 
            
              </div>
        
            
        
            <button  [ngClass]="selection.selected.length>0 ? show : none" mat-raised-button color="warn"><mat-icon>delete</mat-icon><span class="iconwords"><span class="mobiledisplaynone">Delete</span> ({{selection.selected.length}}) <span class="mobiledisplaynone">Exercises</span></span></button>
        </div>
        <br/>
        
            <button class="createbutton"  mat-raised-button >
                <p><svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                <span class="iconwords">Create Exercises </span> 
            
            </button>
    
        </div>
        
      
    
      
      </div>
  </div>
  </div>
  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
  