<div class="master">
    <div mat-dialog-content class="">
        <div class="">
        
    
        
    <span *ngFor="let hero of data.content">

   
            <button mat-raised-button class="buttontext">
                <mat-icon class="icon">{{hero.icontext}}</mat-icon>
                <div class="center">
                    <div class="title">
                        {{hero.title}}
    
                    </div>
                    <div class="descriptiondetail">
                       {{hero.description}}
    
                    </div>
                    
    
                </div>
               
            </button>
                    
               
            <mat-divider></mat-divider>

        </span>


        
           
        
    
        
    </div>
        
    </div>
    
    <div class="headercontainer">
        <h1 mat-dialog-title>{{data.title}}:</h1>
    <div mat-dialog-actions >
        <button mat-button (click)="onNoClick()">Close menu</button>
        
      </div>
    
    </div>
    

</div>


