<div class="master">
    <div mat-dialog-content class="">
        <div class="">
        
                
     
    
        
    
            <button mat-raised-button class="buttontext">
                <mat-icon class="icon">announcement</mat-icon>
                <div class="center">
                    <div>
                        Create Custom Exercise
    
                    </div>
                    <div class="descriptiondetail">
                        You can add your own exercises to this software. 
    
                    </div>
                    
    
                </div>
               
            </button>
                    
               
            <mat-divider></mat-divider>
            <button mat-raised-button class="buttontext">
                <mat-icon class="icon">announcement</mat-icon>
                <div class="center">
                    <div>
                        Access Exercise made by others
    
                    </div>
                    <div class="descriptiondetail">
                        Review Exercises made by other physiotherapists via a code
    
                    </div>
                    
    
                </div>
               
            </button>
           
            <mat-divider></mat-divider>
            <button mat-raised-button class="buttontext">
                
                <mat-icon class="icon">announcement</mat-icon>
                
                    <div class="centerleft">
                        Share Custom Exercise with others
    
                    </div>
                    <div class="descriptiondetail">
                        Share your custom exercises with other physiotherapists 
    
                    </div>

                
                    
                    
    
                
               
            </button>
            
            <mat-divider></mat-divider>
            <button mat-raised-button class="buttontext">
                <mat-icon class="icon">announcement</mat-icon>
                <div class="center">
                    <div>
                        Physiotherapists Viewing your exercises
    
                    </div>
                    <div class="descriptiondetail">
                        Manage access to your custom exercises
                    </div>
                    
    
                </div>
               
            </button>
        
            <mat-divider></mat-divider>
            <button mat-raised-button class="buttontext">
                <mat-icon class="icon">announcement</mat-icon>
                <div >
                    <div>
                        Need more flexibility?
                    </div>
                    <div class="descriptiondetail">
                        Create your own exercise booklet layout, customise to suit your organisation's needs.
    
                    </div>
                    
    
                </div>
               
            </button>
        
    
        
    </div>
        
    </div>
    
    <div class="headercontainer">
        <h1 mat-dialog-title>Custom Exercises:</h1>
    <div mat-dialog-actions >
        <button mat-button (click)="onNoClick()">Close menu</button>
        
      </div>
    
    </div>
    

</div>


